<div class="container mt-5">
    <form #f='ngForm' (ngSubmit)="onSubmit(f)">
        <h1 class="text-center">Registration </h1>
        <div class="row">
            <div class="col-sm-5 mt-5">
                <label for="firstName" class="col-sm-4 control-label">First Name*</label>
                <input type="text" class="form-control" placeholder="First Name" name="first_name" ngModel
                    #first_name="ngModel" required>
                <div *ngIf="first_name.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="first_name.touched &&first_name.invalid"> FIRST NAME
                        REQUIRED
                    </div>
                </div>
            </div>
            <div class="col-sm-5 mt-5">
                <label for="lastName" class="col-sm-4 control-label">Last Name*</label>
                <input type="text" class="form-control" placeholder="Last Name" name="last_name" ngModel
                    #last_name="ngModel" required>
                <div *ngIf="first_name.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="last_name.touched &&last_name.invalid"> LAST NAME
                        REQUIRED
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5 mt-2">
                <label for="username" class="col-sm-4 control-label">Username*</label>
                <input type="text" class="form-control" placeholder="Username" name="username" ngModel
                    #username="ngModel" required>
                <div *ngIf="username.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="username.touched &&username.invalid"> USER NAME REQUIRED
                    </div>
                </div>
            </div>
            <div class="col-sm-5 mt-2">
                <label class="col-sm-4 control-label" name="email" ngModel #email="ngModel" required
                    minlength="3">Email* </label>
                <input type="email" placeholder="Email" class="form-control" name="email" ngModel #email="ngModel"
                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <div *ngIf="email.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="email.touched &&email.invalid"> EMAIL REQUIRED
                    </div>
                </div>
                <div *ngIf="email.errors?.['pattern']">
                    <div class="alert alert-danger mt-2" *ngIf="email.touched && email.invalid">
                        EMAIL SHOULD BE VALID</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5 mt-2">
                <label for="password" class="col-sm-3 control-label">Password*</label>
                <input type="password" placeholder="Password" class="form-control" name="password" ngModel
                    #password="ngModel" minlength="8" required>
                <div *ngIf="password.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="password.touched &&password.invalid">
                        PASSWORD REQUIRED
                    </div>
                </div>
                <div *ngIf="password.errors?.['minlength']">
                    <div class="alert alert-danger mt-2" *ngIf="password.touched && password.invalid">
                        PASSWORD SHOULD BE ATLEAST 8 CHARACTERS</div>
                </div>
            </div>
            <div class="col-sm-5 mt-2">
                <label for="age" class="col-sm-6 control-label">Age*</label>
                <input type="number" class="form-control" name="age" ngModel #age="ngModel" required>
                <div *ngIf="age.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="age.touched &&age.invalid">
                        AGE REQUIRED
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5  mt-2">
                <label for="birthDate" class="col-sm-5 control-label">Date of Birth*</label>
                <input type="date" id="birthDate" class="form-control" required name="dob" ngModel #dob="ngModel">
            </div>
            <div class="col-sm-5 mt-2">
                <label class="row control-label col-sm-3 mt-2" name="gender" ngModel #gender="ngModel">Gender</label>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="radio-inline mt-2">
                            <input type="radio" name="button" value="Male">Male
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="radio-inline mt-2">
                            <input type="radio" name="button" value="Female">Female
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label class="radio-inline mt-2">
                            <input type="radio" name="button" value="Others">Others
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-5 mt-2">
                <label for="regno" class="col-sm-6 control-label">Register Number*</label>
                <input type="number" class="form-control" name="reg_no" ngModel #reg_no="ngModel" required>
                <div *ngIf="reg_no.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="reg_no.touched &&reg_no.invalid">
                        REGISTER NUMBER REQUIRED
                    </div>
                </div>
            </div>
            <div class="col-sm-5 mt-2">
                <label for="phno" class="col-sm-5 control-label">Phone Number*</label>
                <input type="number" class="form-control" name="phonenumber" ngModel #phonenumber="ngModel" required>
                <div *ngIf="phonenumber.errors?.['required']">
                    <div class="alert alert-danger mt-2" *ngIf="phonenumber.touched &&phonenumber.invalid">
                        PHONE NUMBER REQUIRED

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary justify-content-center mt-4 me-3">Register</button>
                    <button class="btn btn-primary justify-content-center  mt-4 text-white"
                         href="javascript:void(0);" routerLink="/">Home</button>
                </div>
            </div>
        </div>

    </form>
</div>