<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand navbar-light bg-info mt-2">

        <div class="navbar-brand">
          <h3 class="ml-4"><strong>
              DASHBOARD
            </strong></h3>
        </div>

        <div class="navbar-nav ms-auto">
          <button class="text-white bg-dark me-md-4 btn btn-lg" href="javascript:void(0);" routerLink="/">
            <strong>
              LOGOUT
            </strong>

          </button>
        </div>
      </nav>
    </div>
  </div>



  <div class="col-10">
    <!-- Main content of the dashboard -->
    <!-- Add your dashboard content here -->
  </div>
</div>