<div class="container mt-5 mb-3">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card ">
                <div class="card-header text-center p-3 mb-2 bg-danger text-white">
                    Forgot Password
                </div>
                <div class="card-body border border-dark">
                    <form #f='ngForm' (ngSubmit)="onSubmit(f)">
                        <label class="form-group" >Email or Username</label>
                        <input class="form-control" name="username_or_email" placeholder="Email or Username" 
                        ngModel #username_or_email="ngModel" required
                            minlength="3">
                        <div *ngIf="username_or_email.errors?.['required']">
                            <div class="alert alert-danger mt-2" *ngIf="username_or_email.touched &&username_or_email.invalid"> EMAIL OR
                                USERNAME REQUIRED
                            </div>
                        </div>
                        <div *ngIf="username_or_email.errors?.['minlength']">
                            <div class="alert alert-danger mt-2" *ngIf="username_or_email.touched && username_or_email.invalid">
                                EMAIL OR USERNAME SHOULD BE ATLEAST 3 CHARACTERS</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-group">New Password</label>
                            <input type="password" class="form-control" name="new_password"placeholder="Password"
                             ngModel #new_password="ngModel"
                                minlength="8" required>
                            <div *ngIf="new_password.errors?.['required']">
                                <div class="alert alert-danger mt-2" *ngIf="new_password.touched &&new_password.invalid">
                                    PASSWORD REQUIRED
                                </div>
                            </div>
                            <div *ngIf="new_password.errors?.['minlength']">
                                <div class="alert alert-danger mt-2" *ngIf="new_password.touched && new_password.invalid">
                                    PASSWORD SHOULD BE ATLEAST 8 CHARACTERS</div>
                            </div>
                        </div>
                        <div class="mt-3 mb-3">
                            <label for="confirmpassword" class="col-sm-8 control-label">Confirm Password*</label>
                            <input type="password" placeholder="Confirm Password" class="form-control" name="confirm_password"
                                ngModel #confirm_password="ngModel" minlength="8" required>
                            <div *ngIf="confirm_password.errors?.['required']">
                                <div class="alert alert-danger mt-2" *ngIf="confirm_password.touched &&confirm_password.invalid">
                                    PASSWORD REQUIRED
                                </div>
                            </div>
                            <div *ngIf="confirm_password.errors?.['minlength']">
                                <div class="alert alert-danger mt-2" *ngIf="confirm_password.touched && confirm_password.invalid">
                                    PASSWORD SHOULD BE ATLEAST 8 CHARACTERS</div>
                            </div>
                            <div *ngIf="confirm_password.errors?.['minlength']">
                                <div class="alert alert-danger mt-2" *ngIf="confirm_password.touched &&confirm_password  !==new_password">
                                    PASSWORD DOESNOT MATCH</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary justify-content-center mt-4 me-3">Submit</button>
                                        <button class="btn btn-primary justify-content-center  mt-4 text-white" href="javascript:void(0);" routerLink="/">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>