<div class="container-fluid">
  <app-side-bar></app-side-bar>
  <div class="container-fluid">
      <div class="text-dark">
         <b> User List</b>
      </div>
      <button class="btn btn-primary btn-sm float-end" routerLink="/adduser">Add User</button>

  
  </div>
  <!-- <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.gender }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.status }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let user">
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    
  
</div>
 -->
